
.header{
        display: flex;
        justify-content: center;
        padding-top: 0.5%; padding-bottom: 0.5%;
    
}
.header a{
    padding: 10px;
    font-size: x-large;
    text-decoration: none;
    color:whitesmoke;
    font-weight: 800;   
    border-bottom: solid 1px rgb(251, 121, 159);
    transition-duration: 0.2s;
    transition-property:all;
    font-family: Acme ; 

   
}
.header a:hover{
    background-color: rgb(251, 121, 159);
    color:black;
}
#h2{
    border-color:  rgb(96, 128, 201);
}
body{
    background-image: url(./story.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}
.glass{
    margin-top: 10px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 50%;
    margin-left: 2%;
    position: absolute;
    border-radius: 10px;
    justify-content: left;
    align-items: left;
    box-sizing: border-box;
    
}
h2{
    font-family: acme;
    color:black;
    padding: 30px;
}
img{
    box-sizing: border-box;
    width: 95%; height: auto;
    margin-left: 2.5%;

}
.my.review{
    font-family: acme;
    color:black;
    margin-top: -4%;
    font-size: x-large;
    padding-left: 30px;
}
